.editor {
    visibility: hidden;
}
.card {
position: relative;
left: 200px;
top: 50px;
float: left;
}

.textArea {
    font-size: 20px;
    width: 478px;
    height: 500px;
    
}

.title {
    text-shadow: 1px 1px;
    text-align: center;
    font-size: 30px;
   
}

.card1 {

    float:right;
    top: 50px;
    right: 250px;
  
}



.previewOutput{
    width:  478px;
    height: 500px;
    background-color: lightgray;
    marginLeft: "auto";
    marginRight: "auto";
    padding:"10px";
    overflow-y: scroll;
    content: attr(data-placeholder);
}


