.editor {
    visibility: hidden;
}
.card {
position: relative;
left: 200px;
top: 50px;
}

.textArea {
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-shadow: 1px 1px;
    text-align: center;
    font-size: 30px;
   
}